@model List<CityWeather>
@{
    ViewBag.Title = "Weather";
}

<div class="margin-top-200 margin-left">
    <div class="flex">
        @foreach (var city in Model)
        {
            @await Component.InvokeAsync("City", new {city = city})
        }
    </div>
</div>