<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/StyleSheet.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="container">
    <div class="page-content">
        <div class="margin-auto">
            <h1>Weather</h1>
        </div>
        @RenderBody()
    </div>
</div>
</body>